body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#logo {
    width: 447px;
    height: 80px;
    margin-right: auto;
}

#profile-pic {
    width: 75px;
    height: 75px;
}

.header-item {
    background-color: aliceblue;
    text-align: center;
    margin: 0 20px;
}

.header-item span {
    display: block;
}

main {
    width: 1000px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content:space-between;
    column-gap: 10px;
    padding-bottom: 10px;
}

.main-item {
    width: 293px;
    height: 145px;
    background-color: #f4f5f7;
    row-gap: 20px;
}



.main-item img {
    display: block;
}

.app-image {
    width: 113px;
    height: 113px;
}

.main-item img:nth-child(1){
    margin-top: 5px;
    margin-left: 5px;
}

.main-item img:nth-child(3) {
    float: right;
    position: relative;
    bottom: 5px;
}

.main-item span {
    position: relative;
    display: block;
    left: 130px;
    bottom: 50px;
    width: 150px;
    font-size: 20px;
}

.divider {
    display: flex;

}

.divider img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 35px;
    margin-right: 30px;
}

#alerts-messaging-container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

/* /////////////////////////////////////////////////////////// */
#alerts-messaging-container-buttons {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);

}

#alerts-messaging-container-buttons button {
    height:50px;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1em;
}

#alerts-messaging-container-buttons button:nth-child(2) {
    color: white;
    background-color: #ff503d;
    margin-left: 30px;
}


.check-all {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    border-radius: 5%;
    /* border: 1px solid #ff503d; */
}

#search-bar {
    align-self: center;
    margin-left: auto;
    height: 23px;

}
/* //////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////// */
.alerts-messaging-container-person {
    width: 1000px;
    margin: auto;
    display: flex;
    align-content: flex-end;
    gap: 30px;
    border: 1px solid rgb(204, 203, 203);

}

.alerts-messaging-container-person span {
    align-self: center;
    font-size: 1.2em;

}

.contact-name {
    color: #656565;
    font-weight: 600;
    margin-left: -20px;
    margin-right: 60px;
}

.date {
    margin-left: auto;
}

.alerts-messaging-container-person button {
    background-color: #ffffff;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    align-self: center;
    height:50px;
}

.selected {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;

}
/* ////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */

.alerts-messaging-container-email {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);
    background-color: #f9f9f9;
    flex-direction: column;
}

.alerts-messaging-container-email p {
    width: 90%;
    margin-left: 65px;
}

.alerts-messaging-container-email h3 {
    margin-left: 65px;
}

.alerts-messaging-container-email button {
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;
}

.email-controller {
    display: inline;
    margin-left: auto;
}

.reply {
    background-color: #00dabf;
    color: #009e90;

}

.delete {
    background-color: #ff503d;
    color: white;

}

/* ////////////////////////////////////////////////////////////////////// */

.alerts-messaging-container-previously {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);
    align-items: center;
}

.alerts-messaging-container-previously span {
    background-color: #dfdcdc;
    height: 50px;
    margin-left: auto;
}

/* ////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////// */
.divider-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    background-color:#dfe0e5;

}

.divider-container span {
    font-size: x-large;
    text-align: center;
    align-self: center;
    margin-right: 100px;
}
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////// */
.calendar-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-date-container span:nth-child(1) {
    font-size: 2em;
}

.calendar-date-container span:nth-child(2) {
    font-size: 1em;
}

/* ///////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////// */
.actual-date {
    font-size: 2em;
}
/* //////////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////// */
.contact-container {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.contact-container img {
    width: 20px;
    height: 20px;
    display: inline;
    align-self: center;
}

.contact-container span:nth-child(2) {
    color: white;
    font-size: 1.2em;
}

.contact-container span:nth-child(4) {
    color: white;
    margin-left: 23px;
}
/* ////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////// */
.reminder-specification {
    background-color: #e3e3e3;
    width: 400px;
    margin: auto;
}

.reminder-specification h4 {
    display: inline;
    font-size: 1.3em;
}

.reminder-specification p {
    width: 300px;
    text-align: c;
}
/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */
.reminder-buttons {
    display: flex;
    justify-content: center;

}

.reminder-buttons button:nth-child(1) {
    background-color: #00dabf;
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;
    margin-right: 20px;
    margin-bottom: 20px;
}

.reminder-buttons button:nth-child(2) {
    background-color: #ff503d;
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;

}
/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */

#circle-buttons-container {
    display: flex;
    width: 1000px;
    margin: 0;
    justify-content: center;
    
}

#circle-buttons-container button {
    height:50px;
    cursor:pointer;
    text-align: center;
    border: 1px solid gray;
    outline: none;
    background-color: rgb(255, 249, 249);
    font-size: 1em;
}

/* //////////////////////////////////////////////////////////////////// */

.close {
    background-color: #82281f;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    float: right;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
.notification {
    height: 25px;
    width: 25px;
    background-color: #fe4f3c;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    left: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notification span {
    color: white;
    text-align: center;
    font-size: 0.8em;
}

.alerts-messaging-item {
    border: 1px solid #e8e8e8;
}

hr {
    border: 1px solid #e8e8e8
}

.alerts-messaging-item button {
    height:35px;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1em;
    height: 50px;
}

.alerts-messaging-item button:nth-child(4),
.alerts-messaging-item button:nth-child(3) {
    width: 60px;
}


.alerts-messaging-item button:nth-child(2) {
    color: white;
    background-color: #ff503d;
}

.alerts-messaging-item button:nth-child(4) {
    background-color: #e6e6e6;
}

#search {
    display: inline;
    margin-top: 11px;
    float: right;
    align-self: baseline;
    margin-right: 30px;
}

#alerts-messaging-search {
    height: 23px;

}

.check {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    border-radius: 5%;
    /* border: 1px solid #ff503d; */
}


.not-selected {
    height: 10px;
    width: 10px;
    background-color: rgb(179, 178, 178);
    border-radius: 50%;
    display: inline-block;
}

.info {
    display: inline;
}

.name {
    /* text-align: left; */
    margin-left: 6px;
    color: #656565;
    /* margin-right: 30px; */
}

.email-title {
    /* float: left */
    margin-left: 60px;
}


.details {
    float: right;
}

.details button {
    height: 100%;
    margin-left: 50px;
    margin-right: 30px;
}

.email {
    background-color: #f8f8f8;
}

.email p, h3 {
    margin-left: 30px;
    margin-right: 30px;
}




#messages-remaining {
    display: flex;
    float: right;
    margin-right: 30px;
    background-color: #dfdcdc;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#messages-remaining span {
    color: #949899;
}

.calendar-container {
    display: flex;
}

.calendar-left-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin-left: 440px;
}


.reminder-contact {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reminder-contact span {
    color: white;
    font-size: 1.2em;
}

.reminder-contact span:nth-child(4) {
    font-size: 0.9em;
    margin-left: 35px
}

.reminder-contact img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
}

.reminder-descript {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    justify-content: center;
}

.reminder-descript span {
    color: white;
    font-size: 1.2em;
}

.reminder-descript span:nth-child(5) {
    font-size: 0.9em;
    margin-left: 35px
}

.reminder-descript img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
}




.calendar-right-container {
    display: flex;
    background-color: #82281f;
}

.calendar-container-2 {
    width: 1000px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.months {
    margin: auto;
    height: 20px;
    background-color: #82281f;
    width: 400px;
    text-align: center;
}

.months span {
    margin: 20px;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
  }

  .month ul {
    margin: 0;
    padding: 0;
  }

  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .weekdays {
      background-color: #00dabf;
  }

  .weekdays-container {
    margin: auto;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
    width: 400px;
    font-size: 1.4em;
    margin-right: 440px;
    align-items: center;

  }

  .weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
  }

  .days {
      background-color: white;;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 10px;
    font-size:15px;
    color: #777;
  }

  .right-date {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
  }

  .right-date span:nth-child(1) {
        position: relative;
        right: 135px;
    }

    .right-date span:nth-child(3) {
        position: relative;
        left: 135px;
    }

/*
    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
      } */


/*




  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  } */













@media screen and (min-width:320px) and (max-width: 1024px) {

    #header-container {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        margin: auto;
        width: 350px;
    }

    main {
        width: 100%;
    }

    .main-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 810px) and (max-width: 1280px) {
    #header-container {
        width: 100%;
    }

    main {
        width: 100%;
    }
}
