* {
    font-family: Arial, Helvetica, sans-serif;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    font-weight: 600;

 }

 .user img {
    width: 75px;
    height: 75px;
 }


 .settings-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
    gap: 5px;
 }

 .settings-button img {
    width: 31px;
    height: 31px;
 }

 .dots-item {
    text-align: center;
    display: flex;
    align-items: center;
 }

 .interactive {
    display: flex;
    gap: 30px;
    margin-right: 50px;
 }
 /* //////////////////////////////////////////////////////////////////// */ */

/* //////////////////////////////////////////////////////////////////// */
main {
    margin: auto;
}

.app {
    display: flex;
    flex-wrap: wrap;
    column-gap: 54.5px;
    row-gap: 20px;
    width: 1000px;
    align-items: center;
    margin: auto;

 }

 .app-options {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 150px;
    background-color: #f4f5f7;
    border: 1px solid #cccfd6;
 }

 .app-main span {
    font-size: 1.4em;
    margin-left: 10px;
    margin-top: 50px;
    font-weight: 600;
    color: #868686;
 }



.app-row {
    display: flex;
    justify-content: space-between;
}


.notification {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    position: absolute;
    left: 29.8%;
    color: white;
}

.notification span {
    font-size: 1em;
    color: white;
    font-weight: 600;
}

 .top-left {
    width: 13px;
    height: 13px;
    margin-left: 8px;
    margin-top: 8px;
 }

 .bottom-right {
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-top: auto;
 }

 .app-main {
    display: flex;
    align-items: center;
 }

 .app-main img {
    width: 113px;
    height: 113px;
 }



.divider {
    display: flex;

}

.divider img {
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 35px;
    margin-right: 30px;
}

#alerts-messaging-container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

/* /////////////////////////////////////////////////////////// */
#alerts-messaging-container-buttons {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);

}

#alerts-messaging-container-buttons button {
    height:50px;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1em;
    margin-right: 20px;

}

#alerts-messaging-container-buttons button:nth-child(2) {
    color: white;
    background-color: #ff503d;
    margin-left: 30px;
    width: 150px;
}

#alerts-messaging-container-buttons button:nth-child(4) {
    background-color: #e6e6e6;
    width: 80px;
    border: 1px solid #cccfd6;
}

.alerts-messaging-container-previously  span{
    display: flex;
    width: 190px;
    font-size: 0.9em;
    justify-content: center;
    color: #949899;
    font-weight: 600;
}


.check-all {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    border-radius: 5%;
}

#search-bar {
    align-self: center;
    margin-left: auto;
    height: 23px;
    margin-right: 30px;
    background: url('/images/search_FILL0_wght400_GRAD0_opsz48.png')right no-repeat;
    background-size: 15px;
    background-position: 90% 50%;
    border: 1px solid #cccfd6;
    width: 14%;
}
/* //////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////// */
.alerts-messaging-container-person {
    width: 1000px;
    margin: auto;
    display: flex;
    align-content: flex-end;
    gap: 30px;
    border: 1px solid rgb(204, 203, 203);

}


.alerts-messaging-container-person span {
    align-self: center;
    font-size: 1.2em;

}

.contact-name {
    color: #656565;
    font-weight: 600;
    /* margin-left: -20px;
    margin-right: 60px; */
}

.date {
    margin-left: auto;
}

.alerts-messaging-container-person button {
    background-color: #ffffff;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    align-self: center;
    height:50px;
}

.alerts-messaging-container-person img {
    height: 20px;
    width: 20px;
}

.selected {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;

}
/* ////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////// */

.alerts-messaging-container-email {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);
    background-color: #f9f9f9;
    flex-direction: column;
}

.alerts-messaging-container-email p {
    width: 90%;
    margin-left: 65px;
}

.alerts-messaging-container-email h3 {
    margin-left: 65px;
}

.alerts-messaging-container-email button {
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;
}

.email-controller {
    display: inline;
    margin-left: auto;
    margin-right: 33px;
    margin-bottom: 10px;
}

.email-controller span {
    font-weight: 900;
}

.reply {
    background-color: #00dabf;
    color: #009e90;
    margin-right: 15px;
}

.delete {
    background-color: #ff503d;
    color: white;
}

/* ////////////////////////////////////////////////////////////////////// */

.alerts-messaging-container-previously {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid rgb(204, 203, 203);
    align-items: center;
}

.alerts-messaging-container-previously span {
    background-color: #dfdcdc;
    height: 50px;
    margin-left: auto;
    line-height: 45px;
    vertical-align: middle;
}

/* ////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////// */
.divider-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    background-color:#dfe0e5;

}

.divider-container span {
    font-size: x-large;
    text-align: center;
    align-self: center;
    /* margin-right: 100px; */
    color: #868686;
}

.divider-container span:nth-child(3) {
    font-size: 1em;
    margin-left: auto;
}

.divider-container img:nth-child(1) {
    margin-right: 50px;
    margin-left: 40px;
}

.divider-container img:nth-child(4) {
    width: 25px;
    height: 25px;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
}

.divider-container img:nth-child(5) {
    width: 27px;
    height: 34px;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 260px;
}
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////// */

.reminders {
    display: flex;
    justify-content: center;

}

.first-reminder {
    display: flex;
    flex-direction: column;
}

.second-reminder {
    display: flex;
    flex-direction: column;

}

/* ///////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////// */
.calendar-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-date-container span:nth-child(1) {
    font-size: 2em;
    color: #8e9396;
    font-weight: 600;
}

.calendar-date-container span:nth-child(2) {
    color: #8e9396;
    font-size: 1.5em;
}

/* ///////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////// */
.actual-date {
    font-size: 2em;
}
/* //////////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////// */
.contact-container {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    color: white;
    margin: 22px;
}

.reminder-info {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    color: white;
}

.contact-container img {
    width: 30px;
    display: inline-block;
    margin-top: 10px;
    position: absolute;

}

.contact-container span:nth-child(2) {
    color: white;
    font-size: 1.2em;
    margin-left: 40px;
}

.contact-container span:nth-child(4) {
    color: white;
    margin-left: 40px;
    margin-top: -30px;
}
/* ////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////// */
.reminder-specification {
    background-color: #e3e3e3;
    width: 400px;
    margin: auto;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
}

.reminder-specification h4 {
    display: inline;
    font-size: 1.3em;
}

.reminder-specification p {
    width: 300px;
    margin-left: 30px;

}

.reminder-date-info {
    margin-bottom: 10px;
    margin-left: 30px;

}

.reminder-date-info span, h4, p {
    color: #626264;
}
/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */
.reminder-buttons {
    display: flex;
    justify-content: center;

}

.reminder-buttons button:nth-child(1) {
    background-color: #00dabf;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #017d75;
}

.reminder-buttons button:nth-child(2) {
    background-color: #ff503d;
    height: 30px;
    width: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    text-align: center;
    font-size: 0.8em;
    color: white;
    font-weight: 600;

}
/* ////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////// */

.actual-month {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
}

.actual-month span:nth-child(1) {
    font-size: 2em;
    margin-right: auto;
}

.actual-month span:nth-child(2) {
    font-size: 2em;
    margin: auto;
    color: #929b9a;
    font-weight: 600;
}

.actual-month span:nth-child(3) {
    font-size: 2em;
    margin-left: auto;
}

.calendar {
    background-color: rgb(255, 255, 255);
    width: 400px;
    font-size: 1.4em;
    align-items: center;
  }

  .weekdays {
    background-color: #00dabf;
    height: 55px;

}

  .weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
    line-height: 54px;
  }

  .days {
      background-color: white;;
  }

  .days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1em;
    color: #777;
  }

  .days li .active {
    /* padding: 5px;
    border-radius: 50%;
    background: #fb4e3d;
    border: 4px solid gray; */
    width: 25px;
    height: 25px;
    padding: 7px;
    background: #fb4e3d;
    border: 3px solid gray;
    border-radius: 50%;
    text-align: center;
    color: white;
  }

  .days li .active.transparency {
        opacity: 0.8;
        border: none;
  }

.month-list {
    margin: 0;
    background-color: #00dabf;
}

.month-list li {
    display: inline-block;
    color: white;
}

/* ///////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */

.circle-buttons-container {
    width: 1000px;
    margin: auto;
    display: flex;
}

.circle-buttons-container button {
    height:50px;
    cursor:pointer;
    text-align: center;
    border: 1px solid #e3e3e3;
    outline: none;
    font-size: 1em;
    width: 50%;
    background-color: white;
    color: #929695;
    font-size: 1.2em;

}

.circle-buttons-container button:nth-child(2) {
    border-bottom-style: inset;
    border-bottom-color: #fc533e;
    border-bottom-width: 5px;
}
/* ////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////// */
.circle-care {
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid #e3e3e3;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px
}

.air-message {
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    background-color: #e4e2e3;
    justify-content: center;
    align-items: center;
}

.air-message span {
    line-height: 30px;
    vertical-align: middle;
}

.air {
    width: 100%;
    margin-bottom: 10px;
}

/* //////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// */

.person-card {
    width: 340px;
    height: 150px;
    display: flex;
    background-color: #ffffff;
    border: 1px solid gray;
    flex-direction: column;
    text-align: end;
    border-left-style: inset;
    border-left-color: #fc533e;
    border-left-width: 9px;
    margin-left: 65px;
    margin-right: 65px;
}

.circle-care .person-card:nth-child(3),
.circle-care .person-card:nth-child(6) {
    border-left-color: #00ffe1;
}



.person-card span {
    margin-right: 0px;
    position: relative;
    margin-right: 20px;
    font-size: 1.22em;
}

.person-card span:nth-child(1) {
    margin-top: 20px;
    font-weight: 800;
    font-size: 1.24em;
}

/* .person-card h4 {
    background-color: #009e90;
    height: 20px;
    width: 290px;
    font-size: 1.3em;

} */

.send-button {
    height: 40px;
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
    cursor:pointer;
    background-color: #ff503d;
    color: white;
    font-size: 0.9em;
    margin-top: auto;
    margin-left: auto;
    position: relative;
}

.circle-care .person-card:nth-child(3) button,
.circle-care .person-card:nth-child(6) button {
    background-color: #02dbc0;
    color: #006e68;
}


.card-decoration {
    height: 180px;
    width: 12px;
    border-left: 2px solid #ff0000;

}


  .person-card-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    border: 7px solid #555;
    position: absolute;
    margin-top: 50px;

}

/* //////////////////////////////////////////////////////////////////// */

.close {
    background-color: #82281f;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    float: right;
}
/* //////////////////////////////////////////////////////////////////////////////////// */



.alerts-messaging-item {
    border: 1px solid #e8e8e8;
}

hr {
    border: 1px solid #e8e8e8
}

.alerts-messaging-item button {
    height:35px;
    cursor:pointer;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1em;
    height: 50px;
}

.alerts-messaging-item button:nth-child(4),
.alerts-messaging-item button:nth-child(3) {
    width: 60px;
}


.alerts-messaging-item button:nth-child(2) {
    color: white;
    background-color: #ff503d;
}

.alerts-messaging-item button:nth-child(4) {
    background-color: #e6e6e6;
}

#search {
    display: inline;
    margin-top: 11px;
    float: right;
    align-self: baseline;
    margin-right: 30px;
}

#alerts-messaging-search {
    height: 23px;

}

.check {
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    border-radius: 5%;
    /* border: 1px solid #ff503d; */
}


.not-selected {
    height: 10px;
    width: 10px;
    background-color: rgb(179, 178, 178);
    border-radius: 50%;
}

.info {
    display: inline;
}

.email-name {
    text-align: center;
    margin-left: auto;
    color: #656565;

    /* margin-right: 30px; */
}

.email-title {
    /* float: left */
    margin-left: 60px;
}


.details {
    float: right;
}

.details button {
    height: 100%;
    margin-left: 50px;
    margin-right: 30px;
}

.email {
    background-color: #f8f8f8;
}

.email p, h3 {
    margin-left: 30px;
    margin-right: 30px;
}




#messages-remaining {
    display: flex;
    float: right;
    margin-right: 30px;
    background-color: #dfdcdc;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#messages-remaining span {
    color: #949899;
}

.calendar-container {
    display: flex;
}

.calendar-left-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin-left: 440px;
}


.reminder-contact {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reminder-contact span {
    color: white;
    font-size: 1.2em;
}

.reminder-contact span:nth-child(4) {
    font-size: 0.9em;
    margin-left: 35px
}

.reminder-contact img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
}

.reminder-descript {
    height: 60px;
    width: 400px;
    background-color: #ff503d;
    justify-content: center;
}

.reminder-descript span {
    color: white;
    font-size: 1.2em;
}

.reminder-descript span:nth-child(5) {
    font-size: 0.9em;
    margin-left: 35px
}

.reminder-descript img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline;
}




@media screen and (min-width: 640px) and (max-width: 1024px) {

    header {
        justify-content: space-around;
    }

    header span {
        display: none;
    }

    header img {
        width: 50%;
    }

    .interactive img {
        width: 90%;

    }

    header .dots-item {
        display: none;
    }

    .settings-button {
        margin: auto;
    }


    .app {
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;
        align-items: center;
    }

    .app-options {
        flex-basis: 48%;
    }

    .app-main span{
        font-size: 1em
    }

    #alerts-messaging-container-buttons {
        width: 90%;
    }

    #search-bar {
        width: 23%;
    }

    .alerts-messaging-container-person {
        width: 90%;
    }

    .alerts-messaging-container-email {
        width: 90%;
        align-items: flex-start;
    }

    .alerts-messaging-container-email p {
        width: 80%;
    }

    .alerts-messaging-container-previously {
        width: 90%;
    }

    .first-reminder {

        align-items: center;
    }

    .first-reminder img {
        display: none;
    }

    .contact-container {
        width: 300px;
    }

    .reminder-specification {
        width: 300px;
    }

    .reminder-specification p {
        width: 90%;
    }

    .calendar {
        width: 95%;
    }

    .weekdays {
        width: 90%;
    }

    .days {
        width: 90%;
    }

    .days li{
        font-size: 1em;

    }

    .days li .active {
        /* padding: 5px;
        border-radius: 50%;
        background: #fb4e3d;
        border: 4px solid gray; */
        width: 25px;
        height: 25px;
      }


    .circle-buttons-container {
        width: 90%;
        justify-content: center;
        font-size: 0.8em;
    }

    .circle-care {
        width: 90%;
        justify-content: center;
    }

    .air-message {
        width: 60%;
    }

    .divider-container {
        margin: auto;
        width: 90%;
    }


    /* #logo {
        width: 50%;
        height: 50%;
    } */
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    header {
        justify-content: space-around;
    }

    #logo {
        width: 50%;
    }

    #profile-pic {
        width: 90%;
        height: 90%;
    }

    header span {
        display: none;
    }

    header img {
        width: 50%;
    }

    .interactive img {
        width: 90%;
    }

    header .dots-item {
        display: none;
    }

    .settings-button {
        margin: auto;
    }

    .app {
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;
        align-items: center;
    }
    .app-main span{
        font-size: 1.2em
    }


    #alerts-messaging-container-buttons
     {
        width: 100%;
        font-size: 0.8em;

    }

    #search-bar {
        width: 40px;
    }

    .alerts-messaging-container-person {
        width: 100%;
    }

    .alerts-messaging-container-person span {
        font-size: 0.8em;
    }

    .alerts-messaging-container-email {
        width: 100%;
        /* align-items: flex-start; */
    }

    .alerts-messaging-container-email p {
        width: 80%;
        margin-left: 10px;
    }

    .alerts-messaging-container-email h3 {
        width: 80%;
        margin-left: 10px;
    }

    .email-controller {
        margin-right: 20px;
    }

    .alerts-messaging-container-previously {
        width: 100%;
    }

    .reminders {
        flex-direction: column;
    }

    .first-reminder {

        align-items: center;
    }

    .first-reminder img {
        display: none;
    }

    .contact-container {
        width: 100%;
    }

    .reminder-specification {
        width: 100%;
    }

    .reminder-specification p {
        width: 90%;
    }

    .calendar {
        width: 90%;
    }

    .weekdays {
        width: 100%;
    }

    .days {
        width: 90%;
    }

    .days li{
        font-size: 1em;

    }

    .days li .active {
        /* padding: 5px;
        border-radius: 50%;
        background: #fb4e3d;
        border: 4px solid gray; */
        width: 25px;
        height: 25px;
      }

    .circle-buttons-container {
        width: 100%;
        justify-content: center;
        font-size: 0.8em;
    }

    .circle-care {
        width: 100%;
        justify-content: center;
    }

    .air-message {
        width: 100%;
    }

    .person-card {
        width: 100%;
    }

    .person-card span {
        font-size: 1em;
    }

    .divider-container {
        margin: auto;
        width: 100%;
    }

    .divider-container span {
        font-size: 1.2em;
    }



    .person-card-img {
        display: none;
    }

    .send-button {
        width: 80%;
    }
}